<div class="p-8 text-white">

    <h1 class="text-3xl font-bold mb-8">My Account Statistics</h1>

    @if (loading) {
    <p class="text-gray-400">Loading statistics...</p>
    }

    @if (!loading) {

    <div class="grid grid-cols-3 gap-8">

        <!-- Playlists -->
        <div class="bg-surfaceDark p-8 rounded-xl text-center hover:bg-surfaceLight transition">
            <h2 class="text-4xl font-bold text-green-500">
                {{ totalPlaylists }}
            </h2>
            <p class="text-gray-400 mt-2">
                Total Playlists
            </p>
        </div>

        <!-- Favorites -->
        <div class="bg-surfaceDark p-8 rounded-xl text-center hover:bg-surfaceLight transition">
            <h2 class="text-4xl font-bold text-red-500">
                {{ totalFavorites }}
            </h2>
            <p class="text-gray-400 mt-2">
                Favorite Songs
            </p>
        </div>

        <!-- Total Plays -->
        <div class="bg-surfaceDark p-8 rounded-xl text-center hover:bg-surfaceLight transition">
            <h2 class="text-4xl font-bold text-blue-500">
                {{ totalPlayCount }}
            </h2>
            <p class="text-gray-400 mt-2">
                Total Plays
            </p>
        </div>

    </div>

    }

</div>